.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

/* Uso css grid para estructurar mi página entera */
.grid-container {
	display:grid;
	grid-template-areas:
		'header header menu'
		'main main menu'
		'footer footer footer';
	gap: 10px;
	background-color:#728300;
	padding: 10px;
}

/* Animación de logo, sutíl transición de color en el texto */
header h1{
    font-size: 62px;
    color:#dd6b00;
    font-family: 'Baloo 2';
    padding: 0px 20px;
    display: inline;
    background-color: #ffffe9;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes logo {
    0% {color:#dd6b00;}
    50% {color: #ffbb00; }
    100% {color: #dd6b00; }
}

/* Le doy estilo y accomodo los contenidos de mi grilla */
.grid-container > div {
	background-color: rgba(255, 255, 255, 0.397);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.encabezado{
    font-size: 21px; 
    font-family: 'Plus Jakarta Sans';
    color: #53443A;
    background-color:#ffffe9;
    margin-top: 30px;

    padding: 5%;
    text-align: center;
}
.encabezado p{
    padding: 0% 15%;
    line-height: 30px;
}

/*Mi intención es que el menú de navegación fuera fixed
para que uno pudiera seleccionar cualquier item del indice
mientras navegara por la página, pero cuando le doy esta propiedad,
me pisa elementos de la grilla. Todavía no pude solucionarlo así
que lo dejé de esta manera. */

nav >a{display: block;}
nav{
    position: grid;
    margin: auto;
    height: 100%;
    right: 0;
    text-decoration:none;
    text-align: center;
    background-color: #1d1d1d;
    font-size: 24px;
    color: #D2D3D7;
    z-index: 1;
    top: 0%;
    padding-top:20%;
    padding: 3%;
}

/* Le da un estilo a los elementos de la lista (ul,li) y otro al resto del indice de navegación.
Quisiera que se vean iguales. */
nav>a[href="#inicio"],[href="#contacto"],[href="#recetas"],[href="#ingredientes"],[href="#frutas"],[href="#verduras"],[href="#proteinas"]{
    text-align: center;
    display: block;
    color:#D2D3D7;
    background-color: #3f3f3f;
    font-family: 'Baloo 2';
    padding: 5px;
    margin: 20px;
    text-decoration: none;
}

nav>.logo-index{background-color: #3f3f3f00;}
.dropdown-content{list-style: none;}

h1>#titulos{
    text-align: left;
    color:#D2D3D7;
    background-color: #3f3f3f;
    font-family: 'Baloo 2';
    padding: 2%;
    margin: 1% 10% 1% 2%;
}

.dropdown:hover .dropdown-content{ display:block;}
.dropdown-content{
    display: none;
    min-width: 140px;
    list-style: none;
    z-index: 1;
    color:#D2D3D7;
}

.dropdown-content>div:hover{ background-color: #df5500; color: rgb(255, 239, 148);}
nav>a:hover { background-color: #df5500; color: rgb(255, 239, 148);}
.dropdown-content>a:hover{ background-color: #df5500;  color: rgb(255, 239, 148);}

.check-contenedor{
    flex-direction: row;
    flex-wrap: wrap;

    padding: 20px;
    margin: 0% 23% 2% 23%;
    align-content: center;
    
    background-image:url('fondo-papel.png');
    background-color:#3f3f3f;
    color:#D2D3D7;

    text-align: center;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans';
}
.checkmark{
    position:relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}
.boton{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.combinar{
    background-color: #3f3f3f;
    color:#D2D3D7;
    border: #1d1d1d00;
    text-align: center;
    height: 80px;
    width: 160px;
    font-family: 'Baloo 2';
    font-size: 24px;
}
.combinar:hover{
    height: 80px;
    width: 160px;
    font-family: 'Baloo 2';
    font-size: 30px;
    background-color: #df5500;
    color: rgb(255, 239, 148);
    border: #1d1d1d00;
}

main>h2{
    font-family:'Baloo 2';
    text-align:center;
    color:#df5500;
    background-color:rgb(255, 239, 148);
    width: 300px;
    height: 70px;
    margin: auto;
    padding: 15px;
}
#formulario{
    display: block;
    padding: 10px;
    font-size: 21px; 
    font-family: 'Plus Jakarta Sans';
    color: #f5f5f5;
    background-color: #3f3f3f;
}
/* Utilicé display flex para acomodar las recetas */
.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;    
}

.punto>h1{
    font-family:'Baloo 2';
    text-align:center;
    color:#df5500;
    background-color:rgb(255, 239, 148);
}
.punto{
    list-style-type: none;
}
.punto>li{
    background-color: #ffffff;
    font-size: 23px;
}
#ingredientes{
    background-color: #3f3f3f;
    color: #ffffff;
    padding: 60px;
    font-family: 'Baloo 2';
    font-size: 45px;
    margin-bottom: 100px;
    margin-top: 0px;
}

#contacto,#recetas{
    background-color: #3f3f3f;
    color: #ffffff;
    padding: 60px;
    font-family: 'Baloo 2';
    font-size: 45px;
    margin: 100px 0px;
}

footer{
    background-color:#3f3f3f;
    padding: 2%;
}
footer>a{color:#D2D3D7;}
footer>a:hover{color:#df5500;}

input[type=text],[type=email],[type=number]{
    width: 80%;
    padding: 12px 20px;
    margin: 1% 10%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    display: block;
    background-color: #202020;
    color:#D2D3D7;
    border: #1d1d1d00;
    text-align: center;
    width: 80%;
    padding: 12px 20px;
    margin: 2% 10%;
    font-family: 'Baloo 2';
    font-size: 24px;
}
input[type=submit]:hover{
    height: 80px;
    width: 80%;
    font-family: 'Baloo 2';
    font-size: 30px;
    background-color: #df5500;
    color: rgb(255, 239, 148);
    border: #1d1d1d00;
    width: 80%;
    padding: 12px 20px;
    margin: 2% 10%;
}

#areaMensaje{
    width: 80%;
    padding: 12px 20px;
    margin: 1% 10%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formulario>div{
    width: 80%;
    margin: 0% 10%;
    text-align: center;
    display: block;
}

@media screen and (max-width: 640px) {
    .grid-container {
	background-color: #728300 ;
}
    }
    
    @media screen and (min-width: 640px) and (max-width: 1280px) {
    
    .grid-container { background-color: #728300;
}
    }
    
    @media screen and (min-width: 1280px) {
    .grid-container { background-color: #728300;
}
    }